#user-logged-in {
    color: tomato;
}

nav i {
    margin-right: 5px;
}

.fa-trophy, .fa-chess, .fa-fire, .fa-camera{
    color: gold;
}
.fa-bullseye {
    color: tomato;
}
nav {
    font-size: larger;
    align-items: center;
}
.navbar-nav {
    align-items: center;
}

#players-container {
    height: 40%;

}

#game-name {
    text-align: center;
    margin-top: 5px;
    font-size: xx-large;
    font-weight: 900;
}


#vs {
    width: 100%;
    margin: auto;

} 
.vs-ramme {
    display: flex;
    margin: auto;
}

.profile-pic-container {
    height: 150px;
    margin-bottom: 10px;
}
.profile-pic-players {
    max-width: 100%;
    max-height: 100%;
}

.card span {
    font-size: 1rem;
    margin: 2px;
}

#player-names-stats {
    margin-top: 10px;
}
#player1-score-rest, #player2-score-rest {
    height: 50px;
    font-size: x-large;
    font-weight: 600;
}

#player1-score-label, #player2-score-label {
    font-size: x-large;
}