#user-logged-in {
    color: tomato;
}

nav i {
    margin-right: 5px;
}

.fa-trophy, .fa-chess, .fa-fire, .fa-camera{
    color: gold;
}
.fa-bullseye {
    color: tomato;
}
nav {
    font-size: larger;
    align-items: center;
}
.navbar-nav {
    align-items: center;
}

#players-container {
    height: 40%;

}

#game-name {
    text-align: center;
    margin-top: 5px;
    font-size: xx-large;
    font-weight: 900;
}

#player-names-stats {
    text-align: center;
    font-size: x-large;
}

#vs {
    height: 6em;
    margin: auto;

} 
.vs-ramme {
    display: flex;
    margin: auto;
}