#user-logged-in {
    color: tomato;
}

nav i {
    margin-right: 5px;
}

.fa-trophy, .fa-chess, .fa-fire, .fa-camera{
    color: gold;
}
.fa-bullseye {
    color: tomato;
}
nav {
    font-size: larger;
    align-items: center;
}
.navbar-nav {
    align-items: center;
}

#players-container {
    max-height: 50%;

}

#game-name {
    text-align: center;
    margin-top: 5px;
    font-size: xx-large;
    font-weight: 900;
}


#vs {
    width: 100%;
    margin: auto;

} 
.vs-ramme {
    display: flex;
    margin: auto;
}

.profile-pic-container {
    height: 150px;
    display: flex;}
.profile-pic-players {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.card span {
    font-size: 1rem;
    margin: 2px;
}

#player-names-stats {
    margin-top: 10px;
}
#player1-score-rest, #player2-score-rest {
    font-size: x-large;
    font-weight: 600;
}

#player1-score-label, #player2-score-label {
    font-size: x-large;
}

#score-input {
    text-align: center;
}

#stats-now-player1, #stats-now-player2 {
    font-size: x-large;
}

#player2-rest, #player1-rest {
    font-size: xxx-large;
}

.scoreinput {
    text-align: center;
    font-size: x-large;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/*MODAL START*/


#statsContainer {
    min-width: 100%;
    text-align: center;
    height: 60%;
}

.playerName {
    padding: 15px;
    font-size: x-large;
    font-weight: 600
}
/*MODAL END*/

@media only screen and (max-width: 600px) {
    .stats-today {
        display:none;
    }
}

.dartsLeft {
    margin-bottom: 1em;
}